<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.support.supportsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AuthenticationSystem.SignupActivity" />
        <activity
            android:name=".AuthenticationSystem.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthenticationSystem.InfoActivity" />
        <activity android:name=".AuthenticationSystem.Forgot_Password" />
        <activity
            android:name=".activities.navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.sendtask" />
        <activity android:name=".AuthenticationSystem.CheckMembership" />
        <activity android:name=".activities.sendannouncement" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.navigation"
            android:theme="@style/AppTheme" />

        <service android:name=".genaric.SendNotification" />

        <activity android:name=".activities.TaskDetails" />
        <activity android:name=".activities.Reply" />
        <activity android:name=".activities.SubmittedTask"></activity>
    </application>

</manifest>